
#sidebar {
  height: 100%;
  width: 60px;              
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebar-background);     
  z-index: 9999;
  transition: width var(--transition-speed) ease;
  padding-top: 60px;         
  overflow-x: hidden;         
}

.sidebar.open {
  width: 250px;
}

.sidebar-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var( --sidebar-background);
  border-bottom: 1px solid var( --submenu-background);
}

.sidebar-header .close {
  background: none;
  border: none;
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}

.sidebar-header .titel p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: var(--white);
}


ul.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list-unstyled li {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid var( --submenu-background); 
}

ul.list-unstyled li a {
  display: flex;
  align-items: center;
  color: var(--w);
  text-decoration: none;
}

ul.list-unstyled li a:hover {
  background-color: var( --submenu-background); 
}

ul.list-unstyled li i {
  font-size: 20px;
  margin-right: 10px;
}


ul.list-unstyled li a i.bi {
  margin-left: auto;
  transition: transform 0.3s ease;
}


.submenu {
  list-style: none;
  padding-left: 25px; 
  background-color: var( --submenu-background); 
}

.submenu li {
  padding: 5px 10px;
}

.submenu li a {
  font-size: 14px;
  color: #bdb8c0;
}

.submenu li a:hover {
  color: var(--white); 
}


.sidebar:not(.open) {
  width: 70px;
}

.sidebar:not(.open) .list-unstyled li a span {
  display: none; 
}

.sidebar:not(.open) .sidebar-header .titel {
  display: none;
}


#sidebar.open {
  width: 250px;         
}


ul {
  padding: 0;
  list-style: none;
}

ul li {
  padding: 10px;
}

ul li a {
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
}

ul li i {
  margin-right: 10px;         
  font-size: 20px;          
}

ul li a:hover {
  background-color: #575757;  
}

.sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar-header .titel {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 30%;
  width: 100%;

  p {
    text-align: center;
  }
}

.sidebar-header .close {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 30%;
  width: 100%;
  text-align: center;
  color: var(--white);
  font-size: 30px;
  border: none;
  background: none;
  cursor: pointer;
}
