/* You can add global styles to this file, and also import other style files */
:root {
    /* Colores */
    --primary-color: #007bff; /* Azul principal */
    --secondary-color: #6c757d; /* Gris secundario */
    --background-color: #f8f9fa; /* Fondo claro */
    --dark-color: #333; /* Color oscuro */
    --sidebar-background: #201a27;
    --submenu-background: #3c3544;
    --white: #fff;
  
    /* Fuentes */
    --font-family-base: 'Roboto', sans-serif;
    --font-size-base: 16px;
    --font-size-small: 14px;
  
    /* Dimensiones */
    --navbar-height: 60px;
    --sidebar-width-collapsed: 60px;
    --sidebar-width-expanded: 250px;
  
    /* Bordes */
    --border-radius: 5px;
  
    /* Transiciones */
    --transition-speed: 0.3s;
  
    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
  }
  